.ipynb_checkpoints
.VSCodeCounter
__pycache__
*.egg-info
.coverage
.vscode
.pylintrc
.*_cache
*_autosummary
build
coverage
docs/_build
docs/_static
docs/autosummary
docs/Makefile
docs/make.bat
test-config.toml
examples/testing.ipynb
